/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.zine {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "page-5 | page-4 | page-3 | page-2"
    "page-6 | page-7 | page-8 | page-1";
}

.zine-page {
  display: block;
  border: 2px dotted gray;
  box-sizing: border-box;
}

.page-5, .page-4, .page-3, .page-2 {
  transform: rotate(180deg);
}

.page-1 {
  grid-area: page-1;
}

.page-2 {
  grid-area: page-2;
}

.page-3 {
  grid-area: page-3;
}

.page-4 {
  grid-area: page-4;
}

.page-5 {
  grid-area: page-5;
}

.page-6 {
  grid-area: page-6;
}

.page-7 {
  grid-area: page-7;
}

.page-8 {
  grid-area: page-8;
}