/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
  color: #373fff;
}

img {
  width: 100%;
}

@media print {
  .zine {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: lightgrey;
    padding: 2px;
    grid-gap: 2px 2px;
    justify-items: stretch;
    align-items: stretch;
    display: grid;
    grid-template-areas:
      "page-5 page-4 page-3 page-2"
      "page-6 page-7 page-8 page-1";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .zine-page {
    display: block;
    background: white;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
  }

  .page-5, .page-4, .page-3, .page-2 {
    transform: rotate(180deg);
  }

  .page-1 {
    grid-area: page-1;

  }

  .page-2 {
    grid-area: page-2;

  }

  .page-3 {
    grid-area: page-3;
  }

  .page-4 {
    grid-area: page-4;
  }

  .page-5 {
    grid-area: page-5;
  }

  .page-6 {
    grid-area: page-6;
  }

  .page-7 {
    grid-area: page-7;
  }

  .page-8 {
    grid-area: page-8;
  }
}